/* Google Font Api  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type:none;
}

:root{
    --navcolor : #252c3a;
    --bodycolor : #1a2430;
    --menucolor : #b2bec3;
    --navfont : 0.8rem;
    --fontcolor: #f2f2f2;
    --thumbcolor : #778286;
    --menushadow : 0 1px 3px rgba(0,0,0,0.4);
}

html{
    scroll-behavior:smooth;
}

/* ::-webkit-scrollbar{
    width:7px;
}

::-webkit-scrollbar-track{
    background-color:none;
}

::-webkit-scrollbar-thumb{
    background-color:coral;
    border-radius:5px;
} */

body{
    height:100vh;
    background-color:var(--bodycolor);
    overflow:hidden;
}

.containers{
    width:100%;
    position:relative;
}

/* Start Navigation Section  */

.navigations{
    width:250px;
    height:100%;
    background:var(--navcolor);
    position:fixed;
    overflow:hidden;
    transition:all 0.2s ease;
}

.navigations.active{
    width:60px;
}

.navigations ul{
    width:100%;
    height:100%;
    margin-top:80px;
    position:relative;
    top:0;
    left:0;

    overflow-y:auto;
}

.navigations ul::-webkit-scrollbar{
    width:5px;
}

.navigations ul::-webkit-scrollbar-thumb{
    background-color:var(--thumbcolor);
    border-radius:5px;
}

.navigations ul li:has(.menu-title){
    pointer-events:none;
}

.menu-title{
    display:block;
    color:var(--menucolor);
    font-size:var(--navfont);
    text-transform:uppercase;
    font-weight:bolder;
    margin-left:15px;
    margin-block:15px;
}

.navigations ul li a{
    width:100%;
    text-decoration:none;
    color:var(--menucolor);
    font-size:var(--navfont);

    display:flex;
    position:relative;

    transition:color 0.2s ease;
}

.navigations ul li a .icon{
    min-width:60px;
    height:45px;
    text-align:center;
    font-size:1rem;
    position:relative;
    display:block;
}

.navigations ul li a .icon i{
    line-height:45px;
}

.navigations ul li a .title{
    height:45px;
    line-height:45px;
}

.navigations ul li{
    transition:background-color 0.2s ease;
}

.navigations ul li:hover,.navigations ul li.hovered{
    background-color:var(--bodycolor);
}

/* End Navigation Section  */

/* Start Main Section  */

/* Start Topbar Section  */
.mains{
    width:calc(100% - 250px);
    height:100vh;
    background-color:var(--white);

    position:absolute;
    left:250px;

    transition:all 0.2s ease;
 }

.mains.active{
    width:calc(100% - 60px);
    left:60px;
}

.topbars{
    width:100%;
    max-width:100%;
    height:70px;
    background-color:var(--navcolor);
    padding-inline:15px;
    box-shadow:var(--menushadow);
    cursor:pointer;

    position:fixed;
    top:0;
    left:0;
    z-index:100;

    display:flex;
    justify-content:space-between;
    align-items:center;

}



/* Start Leftbar */

.topbars .left-bar{
    height:100%;
    display:flex;
    align-items:center;
}

.logo{
    margin-right:30px;
}

.logo a{
    text-decoration:none;
    color:var(--fontcolor);
    font-size:1.7rem;
    font-weight:bolder;
}

.logo a .icon{
    color:rgb(235, 57, 92);
}

.topbars .left-bar .toggle{
    width:50px;
    height:100%;
    color:var(--menucolor);
    font-size:1.5rem;
    text-align:center;
    transition:all 0.3s ease;
}

.topbars .left-bar .toggle i{
    line-height:70px;
}

.topbars .left-bar .toggle:active{
    transform:scale(1.1);
}


.topbars .left-bar .search .search-box{
    width:240px;
    height:40px;
    /* background:red;  */
    position:relative;
    margin-inline:20px;
}

.topbars .left-bar .search .search-box input[type="text"]{
    width:100%;
    height:100%;
    font-size:13px;
    color:var(--menucolor);
    background-color:var(--bodycolor);
    border:none;
    outline:none;
    border-radius:50px;
    padding:0 10px 0 40px;
}

.topbars .left-bar .search .search-box i{
    color:var(--menucolor);
    font-size:15px;

    position:absolute;
    top:50%;
    left:10px;

    transform:translateY(-50%);
}

.icons{
    color:var(--menucolor);
    display:none;
}

@media only screen and (width < 999px){
    .topbars .left-bar .search{
        display:none;
    }
}

@media only screen and (width < 998px){
    
    .topbars .left-bar .logo .title{
        display:none;
    }
}

@media only screen and (width < 500px){
    .logo{
        margin-right:2px;
    }
    .logo a{
        font-size:1.2rem;
        /* text-wrap:balance; */
        white-space:nowrap;
    }
}

.topbars .left-bar .mega-menu .mega{
    color:var(--menucolor);
    font-size:var(--navfont);
    transition:all 0.3s ease;
}

.topbars .left-bar .mega-menu .mega:active{
    transform:scale(1.1);
}

.topbars .left-bar .mega-menu .mega i{
    font-size:11px;
    padding-left:3px;
}

.topbars .left-bar .mega-menu .sub-mega{
    width:100%;
    max-width:100%;
    height:auto;
    background-color:var(--navcolor);
    padding:15px 30px;
    box-shadow:0 0 2px var(--menucolor);

    position:absolute;
    top:100%;
    left:0;

    display:flex;
    justify-content:space-between;

    transform:translateY(50px);
    opacity:0;
    visibility:hidden;
    transition:all 0.3s ease;
}

.topbars .left-bar .mega-menu .sub-mega.show{
    transform:translateY(0);
    opacity:1;
    visibility:visible;
}

.topbars .left-bar .mega-menu .sub-mega ul li{
    padding-block:5px;
}

.topbars .left-bar .mega-menu .sub-mega ul li:first-child h4{
    color:var(--fontcolor);
}

.topbars .left-bar .mega-menu .sub-mega ul li a{
    text-decoration:none;
    color:var(--menucolor);
    font-size:var(--navfont);
    transition:color 0.2s ease;
}

.topbars .left-bar .mega-menu .sub-mega ul li:hover a{
    color:var(--thumbcolor);
}

.topbars .left-bar .mega-menu .sub-mega img{
    width:200px;
    height:auto;
    object-fit:cover;
}

@media only screen and (width < 1026px){
    .topbars .left-bar .mega-menu{
        display:none;
    }
}

/* End Leftbar */

/* Start Rightbar */

.right-bar{
    width:350px;
    height:100%;
    /* background:red; */
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.right-bar .flag img{
    width:40px;
    height:30px;
    object-fit:scale-down;
    cursor:pointer;
}

.right-bar .flag,
.right-bar .drives,
.right-bar .fullscreen,
.right-bar .notification,
.right-bar .profile,
.right-bar .setting{
    width:20%;
    height:inherit;
    /* background:red; */
    color:var(--thumbcolor);
    font-size:1.3rem;

    display:grid;
    place-items:center;

    position:relative;
}

.right-bar .flag:hover,
.right-bar .drives:hover,
.right-bar .fullscreen:hover,
.right-bar .notification:hover,
.right-bar .profile:hover,
.right-bar .setting:hover{
    background-color:rgba(0,0,0,0.4);
}

.fullscreen{
   
    
   
}

.notification{

}

.right-bar .profile{
    width:auto;
}

.right-bar .profile .profile-img{
    display:flex;
    justify-content:center;
    align-items:center; 
}

.right-bar .profile .profile-img img{
    width:35px;
    height:35px;
    border-radius:50%;
    object-fit:scale-down;
    margin-right:5px;
}

.right-bar .profile .profile-img span{
    font-size:var(--navfont);
    white-space:nowrap;
    & i{
        font-size:10px;
    }
}

.topbars .right-bar .search{
    display:none;
}


@media only screen and (width < 998px){

    .right-bar{
        width:250px;
        max-width:100%;
    }


    .topbars .right-bar .search{
        width:20%;
        height:inherit;
        color:var(--thumbcolor);
        font-size:1.1rem;
    
        display:block;
        position:relative;
    }

    .topbars .right-bar .search .icons{
        text-align:center;
        & i{
            line-height:70px;
        }
    }

    .topbars .right-bar .search .search-box{
        width:300px;
        height:80px;
        background:var(--navcolor);
        padding:15px;
        border-radius:3px;
        box-shadow:0 0 3px rgba(0,0,0,0.4);

        position:absolute;  
        top:100%;
        right:0;

        transform:translateY(30px);
        opacity:0;
        visibility:hidden;
        transition:all 0.2s ease;
    }

    .topbars .right-bar .search .search-box.show-search{
        transform:translateY(0);
        opacity:1;
        visibility:visible;
    }

    .topbars .right-bar .search .search-box input[type="text"]{
        width:100%;
        height:50px;
        background-color:var(--bodycolor);
        color:var(--thumbcolor);
        border:none;
        outline:none;
        border-radius:5px;
        padding:0 60px 0 10px;
        overflow:hidden;
    }

    .topbars .right-bar .search .search-box i{
        width:45px;
        height:50px;
        text-align:center;
        color:var(--fontcolor);
        font-size:1.1rem;
        line-height:50px;
        background-color:slateblue;
        border-radius:0 5px 5px 0;


        position:absolute;
        left:calc(100% - 60px);
    }

    .icons{
        display:block;
    }

    .right-bar .drives,
    .right-bar .fullscreen,
    .right-bar .profile span    {
        display:none;
    }

}

@media only screen and (width < 600px){
    .topbars .right-bar .search .search-box{
       width:350px;
       left:-300%;
    }
}



/* End Rightbar */

/* End Topbar Section */

/* End Main Section */

